<div id="login-wrapper">
    <h1 id="title">Login</h1>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field appearance="fill">
            <mat-label>Username or Email</mat-label>
            <input formControlName="userNameOrEmail" ngDefaultControl matInput placeholder="Your Username or email">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input [type]="passwordHide ? 'password' : 'text'" formControlName="password" ngDefaultControl matInput
                placeholder="Your Password">
            <button class="passwordhide" mat-icon-button matSuffix (click)="passwordHide = !passwordHide"
                [attr.aria-pressed]="passwordHide">
                <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <a class="direct-link" (click)="openPasswordResetDialog()">Forgot your password?</a>

        <button [disabled]="!loginForm.valid" mat-stroked-button color="primary">Login</button>
        <a class="direct-link" routerLink="../sing-up">Or create an account</a>
    </form>
</div>