#editing-wrapper{
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#grades-table{
    width: 100%;
    height: max-content;
    z-index: 1000;
}
#context-clicker{
    height: 100%;
}

.subject-row{
    cursor: pointer;
}
.subject-row:hover{
    background-color: rgb(237, 246, 246);
}

#subject-title {
    margin-bottom: 2rem;
    font-size: xx-large;
}

td,
.subject-table-head{
    text-align: center;
}

.mat-column-actions {
    flex: 0 0 18% !important;
    width: 18% !important;
}
 
.mat-column-grades {
    flex: 0 0 60% !important;
    width: 60% !important;
}

.failed{

    background-color: rgb(199, 8, 8);

}
.passed{
    background-color: orange;
}
.good-work{
    background-color: rgb(0, 194, 0);
}