<form [formGroup]="resetPasswordForm" id="password-reset-wrapper">
    <h1>Reset your password</h1>
    <mat-form-field appearance="fill">
        <mat-label>Your email</mat-label>
        <input formControlName="email" matInput placeholder="you@example.com">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input formControlName="password" [type]="passwordHide ? 'password' : 'text'" matInput placeholder="Your new Password">
        <button class="passwordhide" mat-icon-button matSuffix (click)="passwordHide = !passwordHide"
            [attr.aria-pressed]="passwordHide">
            <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Confirm New Password</mat-label>
        <input ngDefaultControl required [type]="retypePasswordHide ? 'password' : 'text'" matInput #confirmPassword
            matInput placeholder="Your new Password">
        <button class="passwordhide" mat-icon-button matSuffix (click)="retypePasswordHide = !retypePasswordHide"
            [attr.aria-pressed]="retypePasswordHide">
            <mat-icon>{{retypePasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

    </mat-form-field>
    <button (click)="initReset()" [disabled]="!resetPasswordForm.valid ||confirmPassword.value !== resetPasswordForm.value.password"
        mat-stroked-button>Reset Password</button>
</form>