<div id="reset-top">
    <button mat-dialog-close id="close-button" mat-icon-button (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div id="reset-form-wrapper">
    <h1>Reset your password</h1>
    <mat-form-field appearance="fill" id="shared-email-input">
        <mat-label>Enter your email</mat-label>
        <input #emailInput="ngModel" type="email" required [(ngModel)]="email" matInput placeholder="your.email@example.com">
    </mat-form-field>
    <button (click)="sendResetMail()" mat-stroked-button [disabled]="!emailInput.valid" >Send reset link</button>
</div>