<button style="height: 0px; width: 0; z-index: 0; opacity: 0;" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
</button>

<mat-menu (close)="closeEvent.emit()" #menu="matMenu">
  <button (click)="create.emit()" mat-menu-item>
    <mat-icon>create_new_folder</mat-icon>
    <span>Create New folder</span>
  </button>
  <button  [disabled]="readAccessOnly" (click)="edit.emit()" *ngIf="selectedFolder" mat-menu-item>
    <mat-icon>edit</mat-icon>
    <span>Edit folder</span>
  </button>
  <button [disabled]="readAccessOnly" (click)="deleteFolder.emit()" *ngIf="selectedFolder" mat-menu-item>
    <mat-icon>delete_outline</mat-icon>
    <span>Delete folder</span>
  </button>
  <button [disabled]="readAccessOnly" (click)="share.emit()" *ngIf="selectedFolder" mat-menu-item>
    <mat-icon>share</mat-icon>
    <span>Share folder</span>
  </button>
</mat-menu>