<button style="height: 0px; width: 0; z-index: 0; opacity: 0;" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
</button>

<mat-menu (close)="closeEvent.emit()" #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>create_new_folder</mat-icon>
    <span>Create New</span>
  </button>
  <button *ngIf="selectedFolder" mat-menu-item>
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>
  <button *ngIf="selectedFolder" mat-menu-item>
    <mat-icon>delete_outline</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>