<div *ngIf="data.type === 'create'">
    <h1 mat-dialog-title>Create new Folder</h1>
    <p>Give your new Subject a name</p>
    <mat-form-field  appearance="fill">
        <mat-label>Subjectname</mat-label>
        <input required matInput [(ngModel)]="data.subject.name">
    </mat-form-field>
    <div mat-dialog-actions class="mat-dialog-actions">
        <button (click)="dialogRef.close()"  class="resset-button" cdkFocusInitial mat-button mat-dialog-close>Abort</button>
        <button [disabled]="data.subject.name.length === 0" [mat-dialog-close]="data.subject" mat-button mat-dialog-close>Save</button>
    </div>
</div>
<div *ngIf="data.type === 'delete'">
    <h1 mat-dialog-title>Delete Folder</h1>
    <p>Do you realy want to delete the subject <i><b>{{data.subject.name}}</b></i></p>
    <div mat-dialog-actions class="mat-dialog-actions">
        <button  [mat-dialog-close]="false" (click)="dialogRef.close()"  class="resset-button" cdkFocusInitial mat-button mat-dialog-close>Abort</button>
        <button [mat-dialog-close]="true" mat-button mat-dialog-close>Delete</button>
    </div>
</div>
<div *ngIf="data.type === 'edit'">
    <h1 mat-dialog-title>Edit Folder</h1>
    <p>Editing the folder <i><b>{{name}}</b></i></p>
    <mat-form-field  appearance="fill">
        <mat-label>Subjectname</mat-label>
        <input required matInput [(ngModel)]="data.subject.name">
    </mat-form-field>

    <div mat-dialog-actions class="mat-dialog-actions">
        <button (click)="dialogRef.close()"  class="resset-button" cdkFocusInitial mat-button mat-dialog-close>Abort</button>
        <button [disabled]="data.subject.name.length === 0" [mat-dialog-close]="data.subject" mat-button mat-dialog-close>Save</button>
    </div>
</div>
