<mat-chip-list class="grades-wrapper" #chipGrid>
    <mat-chip (removed)="deleteGrade.emit(grade)" (click)="viewGrade.emit(grade)" [class.failed]="grade.value! < 4" [class.passed]="grade.value! >= 4 && grade.value! < 4.5"
        [class.good-work]="grade.value! >= 4.5" *ngFor="let grade of grades">
        {{grade.value}}
        <mat-icon *ngIf="!readOnlyAccess" matChipRemove>cancel</mat-icon>
    </mat-chip>
    <mat-chip *ngIf="!readOnlyAccess" (click)="createNewGrade.emit()">
        <mat-icon>add</mat-icon>
    </mat-chip>
</mat-chip-list>