.grades-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.failed{

    background-color: rgb(199, 8, 8);

}
.passed{
    background-color: orange;
}
.good-work{
    background-color: rgb(0, 194, 0);
}