#share-top{
    position: relative;
    width: 100%;
    height: 1rem;
}
#close-button {
    background-color: white !important;
    position: absolute;
    top: -.5rem;
    right: -.5rem;
}
#share-access-form{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
}
#shared-email-input{
    margin-right: 2rem;
}
#access-right-group{
    width: max-content;
    margin-right: 1rem;
}
mat-radio-button{
    overflow-wrap: break-word;
    margin-top: .3rem;
    margin-right: 1rem;
}

#access-table{
    width: 100%;
    margin-top: 3rem;
}

.mat-column-actions {
    flex: 0 0 18% !important;
    width: 18% !important;
}

#share-form-wrapper{
    position: relative;
    height: 15rem;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
table{
    box-shadow: none;
}