<div id="home-wrapper">
  <h1 id="home-title">Welcome back {{me.userName}}</h1>
  <div id="home-table-wrapper" class="mat-elevation-z8">
    <div style="height: 100%; position: relative; display: flex; flex-direction: column;">
      <table id="home-table" mat-table [dataSource]="folder">

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef class="home-table-head">
            <p class="global-table-title"> Title </p>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>


        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef class="home-table-head">
            <p class="global-table-title"> Owner </p>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.owner.userName + ' (' + element.owner.email + ')'}} </td>
        </ng-container>

        <ng-container matColumnDef="viewAccess">
          <th mat-header-cell *matHeaderCellDef class="home-table-head">
            <p class="global-table-title"> View Access</p>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="access-wrapper">
              <p *ngIf="!element.viewAccess || !element.viewAccess.length" class="home-alt-text">Nicht freigegeben</p>
              <p *ngFor="let access of element.viewAccess">{{(access | appuserLookup | async)?.userName }}</p>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="writeAccess">
          <th mat-header-cell *matHeaderCellDef class="home-table-head">
            <p class="global-table-title">Write Access </p>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="access-wrapper">
              <p *ngIf="!element.writeAccess || !element.writeAccess.length" class="home-alt-text">Nicht freigegeben</p>
              <p *ngFor="let access of element.writeAccess">{{(access | appuserLookup | async)?.userName}}</p>
            </div>
          </td>
        </ng-container>
        <!--Static actions-->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="home-table-head">
            <p class="global-table-title"> Action</p>
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <div class="action-wrapper">
              <button [disabled]="!isOwner(i)" class="action-button"
                (click)="$event.stopPropagation();selectedRow = i;openEditDialog()" mat-icon-button><mat-icon>edit</mat-icon></button>
              <button [disabled]="!isOwner(i)" class="action-button"
                (click)="$event.stopPropagation(); selectedRow = i;openDeleteDialog(i)" mat-icon-button><mat-icon>delete</mat-icon></button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (dblclick)="loadSubjects(i)" (click)="loadSubjects(i)"
          [style.background-color]="i === selectedRow ? 'rgb(237, 246, 246)' : null"
          (contextmenu)="openContextMenu($event, i)" *matRowDef="let row;let i = index; columns: displayedColumns;"
           class="home-table-row">
        </tr>
      </table>
      <tr (contextmenu)="$event.preventDefault();openCreateDialog()" (click)="openCreateDialog()" id="create-row"><mat-icon
          id="create-icon">add</mat-icon></tr>
      <div style="height: 100%;" (contextmenu)="openContextMenu($event, -1)"></div>
    </div>
    <mat-paginator id="paginator-options" pageSize="15" showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>
<app-home-menu (share)="openShareDialog()" (edit)="openEditDialog()" (create)="openCreateDialog()" (delete)="openDeleteDialog(selectedRow)"
  (close)="selectedRow = -1" [selectedFolder]="selectedRow >= 0" [readAccessOnly]="isNotOwner" [open]="eventsSubject" id="home-menu"
  [style.top]="menuPosition.y + 'px'" [style.left]="menuPosition.x + 'px'" style="position: absolute;"></app-home-menu>